.page-container {
    display: grid;
    grid-gap: 40px;

}

.top-section {
    height: 300px;
    .card-img {
        height: 300px;
    }

    .card-img-overlay {
        display: flex;
        justify-content: center;
    }

    .card-title {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Bungee Inline', cursive;
        font-size: 10rem;
        color: #333
    }
}

.account-input {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 50%;
    padding-left: 300px;
    padding-bottom: 50px;

    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        margin-left: 250px;
        margin-top: 10px;
    }
}

.form-floating {
    padding-top: 5px;
    
}

@media (max-width: 500px) {
    .account-input {
        padding-left: 120px;
    }

    .account-input .btn {
        margin-left: 60px;
    }
}